@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #d48a38;
    --primary-shade: #e5b45c;
  }

  html {
    @apply text-neutral-800 scroll-smooth;
  }

  body {
    @apply h-full bg-white;
  }

  .container {
    @apply relative lg:max-w-3xl xl:max-w-5xl mx-auto p-6;
  }
}

.page-initializing {
  @apply blur-sm h-screen overflow-hidden;
}

.text-gradient-primary {
  @apply bg-gradient-to-t from-primary-shade to-primary bg-clip-text text-transparent print:text-yellow-600 print:from-primary-shade print:bg-none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
